[Unit]
Description="Traefik"
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/traefik/traefik.yaml

[Service]
ExecStart=/opt/traefik/traefik --configfile /etc/traefik/traefik.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target