[Unit]
Description="Consul Agent"
Requires=network-online.target
Requires=tailscaled.service
After=network-online.target
After=tailscaled.service
ConditionFileNotEmpty=/etc/consul.d/agent.hcl

[Service]
User=consul
Group=consul
ExecStart=/opt/consul/consul agent -config-dir=/etc/consul.d/agent.hcl -advertise '{{ GetInterfaceIP "tailscale0" }}'
ExecReload=/opt/consul/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
