[Unit]
Description="Minecraft"
Requires=network-online.target
After=network-online.target

[Service]
User=mc
Group=mc
WorkingDirectory=/var/data/minecraft
ExecStart=/usr/bin/java -jar paper.jar
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target